{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<!--div class="mx-3 my-5">
    <h3 class="text-center">Customers Count</h5>
    <div class="bg-secondary bg-opacity-25 px-5 py-3 rounded">
    <canvas id="customer-count"></canvas>
    </div>
</div-->
<div class="mx-3 my-5">
    <iframe src="http://localhost:5000/public/dashboards/XuiM4kJS1UGxzw3Qhx42M812hoEm8twlA3DXPHtf?org_slug=default" width="100%" height="600px"></iframe>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static '/assets/js/customers.js' %}"></script>
{% endblock scripts %}